<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait"
      src="https://st.depositphotos.com/1097037/1822/v/600/depositphotos_18222861-stock-illustration-cute-cartoon-robot.jpg"
      alt="about-image" />
  </div>
  {{>footer}}
</body>

</html>